<header class="px-8 py-5 text-gray-100 bg-black">
  <div class="xl:container xl:mx-auto">
    <nav
      class="flex items-center justify-center space-x-3 text-xs tracking-tight uppercase md:justify-end"
    >
      <a href="/">motor life</a>
      <a href="/">events</a>
      <a href="/">community</a>
      <a href="/">support</a>
    </nav>
    <div
      class="flex flex-col items-center justify-start mt-4 space-y-3 md:space-x-8 md:flex-row md:space-y-0"
    >
      <img src="/assets/logo.png" class="w-32 md:mr-6" />
      <nav class="flex flex-grow mr-auto space-x-4 uppercase trakcing-tight">
        <span>Categories</span>
        <span>Brand</span>
        <span>shop by vehicle</span>
      </nav>
      <div
        class="flex items-center w-full pr-3 overflow-hidden bg-white rounded-md md:w-96"
      >
        <input
          type="text"
          class="w-full p-2 px-4 text-black rounded-md placeholder:font-light"
          placeholder="Search Part #, Category, or Keywords"
        />

        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8 text-gray-500"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="m19.6 21l-6.3-6.3q-.75.6-1.725.95Q10.6 16 9.5 16q-2.725 0-4.612-1.887Q3 12.225 3 9.5q0-2.725 1.888-4.613Q6.775 3 9.5 3t4.613 1.887Q16 6.775 16 9.5q0 1.1-.35 2.075q-.35.975-.95 1.725l6.3 6.3ZM9.5 14q1.875 0 3.188-1.312Q14 11.375 14 9.5q0-1.875-1.312-3.188Q11.375 5 9.5 5Q7.625 5 6.312 6.312Q5 7.625 5 9.5q0 1.875 1.312 3.188Q7.625 14 9.5 14Z"
          />
        </svg>
      </div>
      <div class="flex flex-col items-center">
        <p class="text-[10px] text-gray-400 mb-1">ASK OUR EXPERTS</p>
        <p class="text-sm border-b border-red-500">1-866-464-6553</p>
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-10"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M18.39 14.56C16.71 13.7 14.53 13 12 13s-4.71.7-6.39 1.56A2.97 2.97 0 0 0 4 17.22V20h16v-2.78c0-1.12-.61-2.15-1.61-2.66zM9.78 12h4.44c1.21 0 2.14-1.06 1.98-2.26l-.32-2.45C15.57 5.39 13.92 4 12 4S8.43 5.39 8.12 7.29L7.8 9.74c-.16 1.2.77 2.26 1.98 2.26z"
          />
        </svg>
      </div>
      <div>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="w-8"
          preserveAspectRatio="xMidYMid meet"
          viewBox="0 0 24 24"
        >
          <path
            fill="currentColor"
            d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2s-.9-2-2-2zM1 2v2h2l3.6 7.59l-1.35 2.45c-.16.28-.25.61-.25.96c0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12l.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49A1.003 1.003 0 0 0 20 4H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2s2-.9 2-2s-.9-2-2-2z"
          />
        </svg>
      </div>
    </div>
  </div>
</header>
